<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>公司注册页面</title>
    <link rel="stylesheet" href="__PUBLIC__/css/pintuer.css">
    <link rel="stylesheet" href="__PUBLIC__/css/admin.css">
    <script src="__PUBLIC__/js/jquery.js"></script>
    <script src="__PUBLIC__/js/pintuer.js"></script>
    <script src="__PUBLIC__/js/respond.js"></script>
    <script src="__PUBLIC__/js/admin.js"></script>
    <link type="__PUBLIC__/image/x-icon" href="/favicon.ico" rel="shortcut icon" />
    <link href="__PUBLIC__/favicon.ico" rel="bookmark icon" />
</head>

<body>
<div class="lefter">
   <div class="logo"></div>
</div>
<div class="righter nav-navicon" id="admin-nav">
    <div class="mainer">
         <div class="admin-navbar">
            <span class="float-right">
            	<!--<a class="button button-little bg-main" href="#" target="_blank">前台首页</a>-->
                <a class="button button-little bg-yellow" href="__APP__/Home/Login/index">注销登录</a>
            </span>
            <ul class="nav nav-inline admin-nav">
             <li class="active"><a href="#" class="icon-home"> 开始</a>
      <ul>
				
					
					<!--<li><a href="__APP__/Admin/Publish/index">添加招聘信息</a></li>
					<li><a href="__APP__/Admin/Addmes/index">添加政策信息</a></li>
					<li><a href="__APP__/Admin/Change/index">修改密码</a></li>
					<li><a href="__APP__/Admin/List/index">查看招聘信息</a></li>
					<li><a href="__APP__/Admin/Meslist/index">查看政策信息</a></li>-->
					
					
					
                </li>
          <!--<li><a href="system.html" class="icon-cog"></a>
            		<ul>
					<li><a href="#">全局设置</a></li>
					<li class="active"><a href="#">系统设置</a>
					</li><li><a href="#">会员设置</a></li>
					<li><a href="#">积分设置</a></li></ul>
                </li>---->
            <!--<li><a href="content.html" class="icon-file-text"> 内容</a>
					<ul>
					<li><a href="#">添加招聘信息</a></li>
					<li class="active"><a href="#">招聘信息管理</a></li>
					<!--<li><a href="#">分类设置</a></li>
					<li><a href="#">链接管理</a></li>
					</ul>
                </li>--->
              <!--<li><a href="#" class="icon-shopping-cart"> 订单</a></li>
                <li><a href="#" class="icon-user"> 会员</a></li>
                <li><a href="#" class="icon-file"> 文件</a></li>
                <li><a href="#" class="icon-th-list"> 栏目</a></li>-->
            </ul>
        </div>
        <div class="admin-bread">
            <span>您好，{$name}，欢迎您的光临。</span>
            <ul class="bread">
                <li><a href="index.html" class="icon-home"> 开始</a></li>
                <li>后台首页</li>
            </ul>
        </div>
    </div>
</div>


<div class="admin">
	<div class="line-big">
    	<div class="xm2">
	
          
        </div>
        <div class="xm7">

<div class="keypoint bg">
  <h1>您好</h1>
  <p>请等待管理员审核,审核成功后我们将以邮件的形式通知您</p>
  <p><button class="button bg-main">了解我们</button></p>
</div>

        
        </div>
    </div>
	
    <!--<p class="text-right text-gray">基于<a class="text-gray" target="_blank" href="#">拼图前端框架</a>构建   来源:<a href="http://www.mycodes.net/" target="_blank">源码之家</a></p>-->
    
  <!--  <div class="clearfix text-center">
    	<a class="button button-big bg-main badge-corner" href="#" target="_blank">拼图最美中文后台-后翘<span class="badge bg-red">会员</span></a>
        <br /><br />
        <a href="#" target="_blank"><img src="images/index.jpg" class="img-responsive" alt="会员版-登录" /></a><br />
        <a href="#" target="_blank"><img src="images/login.jpg" class="img-responsive" alt="会员版-首页" /></a>
    </div>-->
    <br />
</div>
<!--<div class="fixed padding bg-blue bg-inverse doc-fixed-bottom fixed-bottom" data-style="fixed-bottom" data-offset-fixed="300">我先在底部呆着，到站了才回去。</div>-->

</body>
</html>